@page
@model TGL.WebApp.Pages.Students.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
    <center>
        <h1>Students</h1>
    </center>
   
    <br />

    <form method="post">
        <table class="striped">

            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Nit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            @foreach (var student in Model.Students)
            {
                <tr>
                    <th>@student.Id</th>
                    <td>@student.Name</td>
                    <td>@student.LastName</td>
                    <td>@student.Age</td>
                    <td>@student.Nit</td>
                    <td>
                        <button class="btn waves-effect waves-light" type="submit"
                                asp-page-handler="delete"
                                asp-route-id="@student.Id">
                            Delete
                            <i class="material-icons right">delete</i>
                        </button>
                    </td>
                    <td>
                        <a class="waves-effect waves-light btn"
                           asp-page="Edit" asp-route-id="@student.Id">
                            Edit
                            <i class="material-icons right">edit</i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </form>
    <br />  
    <a asp-page="Add" class="waves-effect waves-light btn">
        <i class="material-icons right">cloud</i>Create new student
    </a>
    